@import "partials/_normalize";
@import "partials/_roboto";

body {
    background-color: hsla(240, 5%, 0%, 1);
}

#message-title {
    position: absolute;
    bottom: 50%;
    left: 50%;
    width: 100%;
    transform: translateX(-50%);
    text-align: center;

    color: hsla(0, 0%, 50%, 1);

    font-size: 2em;
    font-family: 'roboto_condensedregular';
    text-transform: uppercase;

    span {
        color: hsla(0, 0%, 100%, 1);
    }
}

#message-desc {
    @extend #message-title;

    top: 50%;

    color: hsla(0, 0%, 25%, 1);

    font-size: 1.25em;
    line-height: 1.25em;
    text-transform: none;
}
