@import "partials/_normalize";
@import "partials/_roboto";

body {
    background-color: hsl(240, 5%, 20%);
}

#message {
    position: absolute;
    top: 50%;
    width: 100%;
    transform: translateY(-50%);
}

#message-title {
    text-align: center;
    color: hsl(0, 0%, 100%);

    font-size: 2rem;
    font-family: 'roboto_condensedregular';
    text-transform: uppercase;

    span {
        color: hsl(0, 80%, 60%);
    }
}

#message-desc {
    @extend #message-title;

    color: hsl(0, 0%, 50%);

    text-transform: none;
    font-size: 1.25rem;
    line-height: 1.25rem;
}
