@import "partials/normalize";
@import "partials/roboto";

body {
    background-color: hsla(240, 5%, 20%, 1);
}

#construction-message-title {
    position: absolute;
    bottom: 50%;
    left: 50%;
    width: 100%;
    transform: translateX(-50%);
    text-align: center;

    color: hsla(0, 0%, 100%, 1);

    font-size: 2em;
    font-family: 'roboto_condensedregular';
    text-transform: uppercase;

    span {
        color: hsla(60, 80%, 60%, 1)
    }
}

#construction-message-desc {
    @extend #construction-message-title;

    top: 50%;

    color: hsla(0, 0%, 100%, 0.5);

    font-family: 'roboto_condensedlight';
    font-size: 1.25em;
    line-height: 1.25em;
    text-transform: none;
}
