@import "partials/_normalize";
@import "partials/_roboto";

$theme_hue: 180;

$main_color: hsla($theme_hue, 80%, 40%, 1);
$secondary_color: hsla($theme_hue, 40%, 80%, 1);

$resting_transition_time: 0.2s;
$hover_transition_time: 0.1s;
$active_transition_time: 0s;

body {
    background-color: $main_color;
    -webkit-user-select: none;
}

#content {
    position: fixed;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#display {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 20%;

    text-align: center;
    font-family: 'roboto_condensedregular';

    color: darken($main_color, 10);
    background-color: $secondary_color;
    box-shadow: 0 0 0.2rem hsla(0, 0%, 0%, 0.5);
    z-index: 2;
}

#dial-ring {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;

    fill: none;

    $path_color: darken($main_color, 10);
    $stroke_width: 1.125;

    path {
        stroke-width: $stroke_width;
        stroke: $path_color;
    }

    g circle {
        stroke-width: $stroke_width;
        stroke: rgba($path_color , 0.2);
    }
}

#display-text {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
    transform: translateY(-50%);
}

#keypad {
    position: absolute;
    left: 0;
    top: 20%;
    width: 100%;
    height: 80%;
    z-index: 0;

    font-family: 'robotoregular';

    td {
        width: 33.33%;
        text-align: center;
        vertical-align: middle;
        transition: background $resting_transition_time;
        cursor: pointer;

        color: white;

        $intensity: 5;

        &:hover {
            background-color: lighten($main_color, $intensity);
            transition: background $hover_transition_time;
        }

        &:active {
            background-color: darken($main_color, $intensity);
            transition: background $active_transition_time;
        }

        &.text-cell {
            font-size: 0.5em;
        }
    }
}

#edit-button {
    display: none;
    position: absolute;
    z-index: 1;
    bottom: 0%;
    left: 0;
    width: 100%;
    height: 10%;
    cursor: pointer;

    stroke-width: 20;
    fill: none;
    stroke: lighten($secondary_color, 10);
    transition: stroke $resting_transition_time, background-color $resting_transition_time;

    $intensity: 1;

    &:hover {
        stroke: lighten($secondary_color, 20);
        background-color: lighten($main_color, $intensity);
        transition: stroke $hover_transition_time, background-color $hover_transition_time;
    }

    &:active {
        stroke: $secondary_color;
        background-color: darken($main_color, $intensity);
        transition: stroke $active_transition_time, background-color $active_transition_time;
    }
}

#keyboard-help-wrapper {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 90%;
    height: 90%;
    z-index: 3;
    pointer-events: none;
}

#keyboard-help {
    display: none;
    position: absolute;
    cursor: pointer;
    transform: translate(-50%, -50%);
    pointer-events: auto;

    background-color: hsla($theme_hue, 40%, 20%, 0.75);
    -webkit-backdrop-filter: blur(10px);

    border-radius: 0.2rem;

    $keyboard_help_padding: 0.2rem;

    .title {
        margin: $keyboard_help_padding $keyboard_help_padding;
        font-size: 0.6rem;
        text-align: center;
        color: white;
        text-transform: uppercase;
        font-family: 'roboto_condensedregular';
    }

    .shortcut {
        margin: 0.1rem $keyboard_help_padding;
        font-size: 0.5rem;
        text-align: center;
        color: white;
        text-transform: lowercase;
        font-family: 'roboto_condensedlight';

        span {
            text-transform: uppercase;
            color: hsla($theme_hue, 60%, 60%, 1);
            font-family: 'roboto_condensedregular';
        }
    }

    .dismiss {
        @extend .shortcut;
        margin: $keyboard_help_padding $keyboard_help_padding;
        color: hsla(0, 0%, 80%, 1);
        font-size: 0.3rem;
        text-transform: uppercase;
        font-family: 'roboto_condensedregular';
    }
}
