@import "partials/_normalize";
@import "partials/_roboto";

$theme-hue: 180;

$main-color: hsla($theme-hue, 80%, 40%, 1);
$secondary-color: hsla($theme-hue, 40%, 80%, 1);

$resting-transition-time: 0.2s;
$hover-transition-time: 0.1s;
$active-transition-time: 0;

$translucent-dark-background: hsla($theme-hue, 40%, 20%, 0.9);
$translucence-blur: blur(5px);
$translucent-dark-border: 0.02rem solid hsla(0, 0%, 0%, 0.2);

@mixin translucent-dark($border-location) {
    background-color: $translucent-dark-background;
    -webkit-backdrop-filter: $translucence-blur;
}

body {
    background-color: $main-color;
}

*, *:hover, *:active, *:focus {
    // Prevent text selection
    -webkit-user-select: none;
    // Prevent tap highlight on browsers
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-tap-highlight-color: transparent;
    -webkit-focus-ring-color: rgba(0, 0, 0, 0);
    -webkit-focus-ring-color: transparent;
    -webkit-touch-callout: none;
    outline: none;
}

#content {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    -webkit-perspective: 3rem;
}

#display {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 20%;

    background-color: $secondary-color;
    box-shadow: 0 0 0.1rem hsla(0, 0%, 0%, 0.5);
    z-index: 2;

    &.running #display-text:hover {
        cursor: pointer;
        color: darken($main-color, 5);
        transition: color $hover-transition-time;
    }

    &.running #display-text:active {
        color: darken($main-color, 15);
        transition: color $active-transition-time;
    }
}

#display-text, #display-text-old {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
    transition: color $resting-transition-time;

    text-align: center;
    font-family: 'roboto_condensedregular';

    color: darken($main-color, 10);
}

#dial-ring {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;

    fill: none;

    $path-color: darken($main-color, 10);
    $stroke-width: 2;

    path {
        stroke-width: $stroke-width;
        stroke: $path-color;
    }

    circle {
        stroke-width: $stroke-width;
        stroke: rgba($path-color , 0.2);
    }
}

#keypad {
    position: absolute;
    left: 50%;
    top: 20%;
    width: 100%;
    max-width: 10rem;
    height: 80%;
    z-index: 0;

    font-family: 'robotoregular';
    transform-origin: 50% 100%;

    td {
        width: 33.33%;
        text-align: center;
        vertical-align: middle;
        transition: background $resting-transition-time;
        cursor: pointer;

        color: white;

        $intensity: 2.5;

        &:hover {
            background-color: lighten($main-color, $intensity);
            transition: background $hover-transition-time;
        }

        &:active {
            background-color: darken($main-color, $intensity);
            transition: background $active-transition-time;
        }

        &.text-cell {
            font-size: 0.5em;
        }
    }
}

#edit-button {
    display: none;
    position: absolute;
    z-index: 1;
    bottom: 0%;
    left: 0;
    width: 100%;
    height: 10%;
    cursor: pointer;

    transition: background-color $resting-transition-time;

    $intensity: 2.5;

    &:hover {
        background-color: lighten($main-color, $intensity);
        transition: background-color $hover-transition-time;
    }

    &:active {
        background-color: darken($main-color, $intensity);
        transition: background-color $active-transition-time;
    }

    svg {
        position: absolute;
        width: 100%;
        height: 100%;
        stroke-width: 19.5;
        fill: none;
        stroke: lighten($secondary-color, 10);
    }
}

#keyboard-help-wrapper {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 90%;
    height: 90%;
    z-index: 4;
    pointer-events: none;
}

#keyboard-help {
    display: none;
    max-width: 100%;
    max-height: 100%;
    position: absolute;
    cursor: pointer;
    transform: translate(-50%, -50%);
    pointer-events: auto;
    overflow: auto;

    @include translucent-dark(border);
    border-radius: 0.2rem;

    $keyboard-help-padding: 0.2rem;

    .title td{
        font-size: 0.5rem;
        text-align: center;
        color: white;
        text-transform: uppercase;
        font-family: 'roboto_condensedregular';
        padding: $keyboard-help-padding;
    }

    .shortcut td {
        vertical-align: top;
        font-size: 0.4rem;
        text-align: left;
        color: $secondary-color;
        text-transform: lowercase;
        font-family: 'roboto_condensedregular';
        padding: 0.05rem $keyboard-help-padding;
        padding-left: 0.1rem;

        &:last-child > span {
            font-size: 0.75em;
            opacity: 0.5;
            vertical-align: top;
        }

        &:first-child {
            padding: 0.05rem $keyboard-help-padding;
            padding-right: 0.1rem;
            text-transform: uppercase;
            color: $secondary-color;
            text-align: right;
        }
    }

    .dismiss td {
        color: transparentize($secondary-color, 0.5);
        font-size: 0.3rem;
        text-transform: uppercase;
        text-align: center;
        font-family: 'roboto_condensedregular';
        padding: $keyboard-help-padding;
    }
}

#notification-banner {
    display: none;
    position: absolute;
    z-index: 3;
    width: 100%;
    padding: 0.2rem;
    box-sizing: border-box;

    font-size: 0.4rem;
    text-align: center;
    color: white;
    font-family: 'roboto_condensedregular';

    @include translucent-dark(border-bottom);

    .button {
        display: inline-block;
        text-transform: uppercase;
        font-family: 'roboto_condensedregular';
        font-size: 0.3rem;
        padding: 0 0.25rem;
        cursor: pointer;
    }

    .alert {
        color: hsla(0, 100%, 80%, 1)
    }

    .normal {
        color: transparentize($secondary-color, 0.25);
    }

    .emphasize {
        color: lighten($main-color, 10);
    }
}
