body {
    background: hsla(240, 100%, 30%, 1);
}

#dial {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 500px;
    height: 500px;
    transform: translate(-50%, -50%);
    background: yellow;
    border-radius: 250px;
}
