body {
    background-color: hsla(240, 50%, 15%, 1);
    overflow: hidden;
}

.star {
    position: absolute;
    transform: translate(-50%, -50%);
    border-radius: 100%;
    box-shadow: 0 0 1em white;
}
